**BIVARIATE**

* Categorical vs Categorical Target --> Count + pct for each category and target category; Count + pct for each target category; Grouped count plot with hue=target; Grouped bar plot with percentages with hue=target and lines indicating target percentages without grouping

* Categorical vs Numerical Target --> Descibe for numerical target alone and for each category; Boxplot for each category with reference line with mean(median) for target alone; overlapping distributions for each value of categorical variable; QQ-plot 

* Numerical vs Categorical Target --> Describe for numerical variable alone and for each target category; Boxplot for each category with reference line with mean (median) for variable alone; overlapping distributions for each value of target variable; QQ-plot

* Numerical vs Numerical target --> Describe for both variable and target; Correlation values; Scatterplot


**TRIVARIATE**

* 2 Categorical vs Categorical target --> Count + pct for each category and target category; Count + pct for each target category; For each value of target, two heatmaps: one with percentages of the corresponding value for each pair of category values, and one with the difference between the first one, and the pct of the target value without grouping.

* 2 categorical vs numerical target --> Grouped boxplot with x=categorical, y=target, hue=categorical

* 1 Categorical, 1 Numerical vs Categorical target --> Grouped boxplot with x=Categorical, y=numerical, hue=target

* 1 Categorical, 1 Numerical vs Numerical target --> Scatterplot with hue=categorical

* 2 Numerical vs Categorical target --> Scatterplot with hue=target

* 2 Numerical vs numerical target --> heatmap

In [1]:
'''
Helper functions to do EDA
'''

import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
from scipy.stats import norm
import matplotlib.pyplot as plt
import os
from matplotlib.gridspec import GridSpec

In [2]:
sns.__version__

'0.11.0'

## Read Data

In [3]:
DATA_PATH = os.path.join(os.getcwd(), 'titanic')

In [4]:
train_df = pd.read_csv(os.path.join(DATA_PATH, 'train.csv'))
test_df = pd.read_csv(os.path.join(DATA_PATH, 'test.csv'))

In [5]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
train_df["Pclass"] = train_df["Pclass"].astype("category")

## Bivariate plots

In [32]:
%load_ext autoreload
%autoreload 2

In [28]:
#del sys.modules['AutoEDA']
del test

In [42]:
import sys, importlib
#importlib.reload(sys.modules['AutoEDA'])
import AutoEDA.AutoEDA as eda
#import AutoEDA as eda

In [45]:
eda.test()

'test3'

In [59]:
column_cat, column_num = "Pclass", "Age"
column_cat2 = "Sex"
column_cat3 = "Survived"
column_num1, column_num2 = "Age", "Fare"
dataframe = train_df

In [58]:
dataframe["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [99]:
from matplotlib.widgets import Slider

In [102]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [105]:
sns.set_style('darkgrid')

In [111]:
eda.two_numerical_vs_categorical(dataframe, column_num1, column_num2, column_cat3,
                         palette=None, ax=None, order=None)

Survived             0           1
Age  count  424.000000  290.000000
     mean    30.626179   28.343690
     std     14.172110   14.950952
     min      1.000000    0.420000
     25%     21.000000   19.000000
     50%     28.000000   28.000000
     75%     39.000000   36.000000
     max     74.000000   80.000000
Fare count  549.000000  342.000000
     mean    22.117887   48.395408
     std     31.388207   66.596998
     min      0.000000    0.000000
     25%      7.854200   12.475000
     50%     10.500000   26.000000
     75%     26.000000   57.000000
     max    263.000000  512.329200
Int64Index([0, 1], dtype='int64', name='Survived')
['Survived'] [0, 1]

In [80]:
l1 = ['Pclass', 'Sex']
l2 = [(1, 'female'), (1, 'male'), (2, 'female'), (2, 'male'), (3, 'female'), (3, 'male')]

In [90]:
l3 = [list(zip(l1,a)) for a in l2]
["{}:{}_{}:{}".format(x[0][0], x[0][1], x[1][0], x[1][1]) for x in l3]

['Pclass:1_Sex:female',
 'Pclass:1_Sex:male',
 'Pclass:2_Sex:female',
 'Pclass:2_Sex:male',
 'Pclass:3_Sex:female',
 'Pclass:3_Sex:male']